<!--
	MyQueen.razor
	Casey Nguyen and Marisah Goo for 2023 UCLA Hackathon
	4.21.2023 - 4.23.2023
	PURPOSE: One of three sample show pages. 
!-->

@page "/mrqueen"

<div class="containerHold">
	<img style = "width: 100%; height: 95%;"src="assets/mrqueen/hero.png">
	<div class="heroText">
		<h1>Mr. Queen</h1>
		<br />
		<div>
			<p>Directed by Yoon Sung-sik, it stars Shin Hye-sun as Queen Cheorin 
				and Kim Jung-hyun as King Cheoljong. The drama is about Queen 
				Cheorin finding herself with the soul of a modern-day man inside
				her body, and King Cheoljong striving to be a king who helps his
				people.</p>
		</div>
	</div>
</div>

<body>
	<div class="layout">
		<button style="display: inline-block">
			<div class="figure">
				<img src="assets/AddToCollection.png" />
				<img class="hover" src="assets/AddToCollection_Hover.png" />
			</div>
		</button>
		<button style="display: inline-block">
			<Link To="#chat">
				<div class="figure">
					<img src="assets/MonkeChat.png" />
					<img class="hover" src="assets/MonkeChat_Hover.png" />
				</div>
			</Link>
		</button>
		<div class="medDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.Is8">
				<Row>
					<Column ColumnSize="ColumnSize.IsQuarter">
						<h4>GENRE</h4>
						<p>Romantic, Period Piece</p>
					</Column>
					<Column ColumnSize="ColumnSize.IsQuarter">
						<h4>LANGUAGE</h4>
						<p>Korean</p>
					</Column>
					<Column ColumnSize="ColumnSize.IsQuarter">
						<h4>LOCATION</h4>
						<p>South Korea</p>
					</Column>
					<Column ColumnSize="ColumnSize.IsQuarter">
						<h4>PLATFORM</h4>
						<p>Netflix</p>
					</Column>
				</Row>
			</Column>
		</Row>
		<div class="bigDivider"></div>
		<!--Begin Highlights-->
		<h2>Highlights</h2>
		<div class="bigYellowDivider"></div>
		<div class="blankDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.IsQuarter">
				<Link To="#1">
					<img src="assets/mrqueen/Highlight1.png" />
				</Link>
			</Column>
			<Column ColumnSize="ColumnSize.IsQuarter">
				<Link To="#2">
					<img src="assets/mrqueen/Highlight2.png" />
				</Link>
			</Column>
			<Column ColumnSize="ColumnSize.IsQuarter">
				<Link To="#3">
				<img src="assets/mrqueen/Highlight3.png" />
				</Link>
			</Column>
			<Column ColumnSize="ColumnSize.IsQuarter">
				<Link To="#4">
				<img src="assets/mrqueen/Highlight4.png" />
				</Link>
			</Column>
		</Row>
		<div id="1" class="medDivider"></div>
		<!--Start enlarged-->
		<h3>Gungnamji Pond</h3>
		<div class="yellowDivider"></div>
		<div class="medDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.Is5">
				<img src="assets/mrqueen/Highlight1_Enlarged.png" />
			</Column>
			<Column ColumnSize="ColumnSize.Is7">
				<Row>
					<Column ColumnSize="ColumnSize.Is1">
						<img style="padding-left: 23px;"src="assets/Location.png" />
					</Column>
					<Column ColumnSize="ColumnSize.Is11">
						<h2>Gungnamji Pond<img style="float: right" src="assets/Link.png"></h2>
						<h2>궁남지</h2>
						<div class="blankDivider"></div>
						<p>
							A key turning point in Mr. Queen when Bong-hwan (Choi Jin-hyuk) fell into the pool.
							It later transported him to the Joseon Dynasty.
							<br /><br />
							Historically, the story centers around Chundangji Lake in Seoul, however filming
							took place in Buyeo.
						</p>
					</Column>
				</Row>
			</Column>
		</Row>

		<div id="2" class="medDivider"></div>
		<h3>Seongyojang House</h3>
		<div class="yellowDivider"></div>
		<div class="medDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.Is5">
				<img src="assets/mrqueen/Highlight2_Enlarged.png" />
			</Column>
			<Column ColumnSize="ColumnSize.Is7">
				<Row>
					<Column ColumnSize="ColumnSize.Is1">
						<img style="padding-left: 23px;" src="assets/Location.png" />
					</Column>
					<Column ColumnSize="ColumnSize.Is11">
						<h2>Seongyojang House<img style="float: right" src="assets/Link.png"></h2>
						<h2>강릉 선교장</h2>
						<div class="blankDivider"></div>
						<p>
							The infamous Korean game neolttwigi played by Queen Cheorin (Shin Hye-sun).
							<br /><br />
							Better known as a traditional outdoor game of Korean women and girls that is typically enjoyed on traditional holidays, neolttwigi is typically enjoyed on traditional holidays such as Korean New Year, Chuseok, and Dano. Neolttwigi is similar to seesaw, except that participants stand on each end of the Neol and jump, propelling the person opposite into the air.
						</p>
					</Column>
				</Row>
			</Column>
		</Row>

		<div id="3" class="medDivider"></div>
		<h3>Gwanghanruwon Garden</h3>
		<div class="yellowDivider"></div>
		<div class="medDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.Is5">
				<img src="assets/mrqueen/Highlight3_Enlarged.png" />
			</Column>
			<Column ColumnSize="ColumnSize.Is7">
				<Row>
					<Column ColumnSize="ColumnSize.Is1">
						<img style="padding-left: 23px;" src="assets/Location.png" />
					</Column>
					<Column ColumnSize="ColumnSize.Is11">
						<h2>Gwanghanruwon Garden<img style="float: right" src="assets/Link.png"></h2>
						<h2>남원 오작교 광한루원</h2>
						<div class="blankDivider"></div>
						<p>
							Located in the city of Namwon, Gwanghanruwon Garden is where is where Bong-hwan (Choi Jin-hyuk) first found out that his precious thing was gone after travelling back to the ancient times.
						</p>
					</Column>
				</Row>
			</Column>
		</Row>

		<div id="4" class="medDivider"></div>
		<h3>Byeongsan Seowon</h3>
		<div class="yellowDivider"></div>
		<div class="medDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.Is5">
				<img src="assets/mrqueen/Highlight4_Enlarged.png" />
			</Column>
			<Column ColumnSize="ColumnSize.Is7">
				<Row>
					<Column ColumnSize="ColumnSize.Is1">
						<img style="padding-left: 23px;" src="assets/Location.png" />
					</Column>
					<Column ColumnSize="ColumnSize.Is11">
						<h2>Byeongsan Seowon<img style="float: right" src="assets/Link.png"></h2>
						<h2>병산서원</h2>
						<div class="blankDivider"></div>
						<p>
							No one likes uninvited guests, and especially not King Cheoljong (Jung-Wook). Byeongsan Seowon is the breathtaking filming location where King Cheoljong’s uninvited cousin appears, leading to a nasty fight.
							<br /><br />
							Seowon refers to Korean Neo-Confucian Academies and Byeongsan Seowon is one of the nine seowon in Korea on the UNESCO World Heritage List.
						</p>
					</Column>
				</Row>
			</Column>
		</Row>


		<div id="chat" class="bigDivider"></div>
		<!--Start chat-->
		<h2>Monkey Business</h2>
		<div class="bigYellowDivider"></div>
		<div class="medDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.Is3">
				<div class="visits" style="padding-left: 30px;">
					<h3>Visits</h3>
					<div class="blankDivider"></div>
					<button onclick="@seenIt">
						@if (seen)
						{
							<img src="assets/MonkeSee_Hover.png">
						}
						else
						{
							<div class="figure">
								<img src="assets/MonkeSee.png" />
								<img class="hover" src="assets/MonkeSee_Hover.png" />
							</div>
						}
					</button>
					<div class="blankDivider"></div>
					<button onclick="@didIt">
						@if (did)
						{
							<img src="assets/MonkeDid_Hover.png">
						}
						else{
							<div class="figure">
								<img src="assets/MonkeDid.png" />
								<img class="hover" src="assets/MonkeDid_Hover.png" />
							</div>
						}
					</button>

					<div class="medDivider"></div>
					<h3><img src="assets/Eye.png" /><b>	@seeValue%	</b>Monke See</h3>
					<h3><img src="assets/Eye_Off.png" /><b>	@didValue%	</b>Monke Did</h3>
					<div class="medDivider"></div>
					<p style="font-size: 14px; text-decoration: underline">Report</p>
					<p style="font-size: 14px; text-decoration: underline">Help</p>
				</div>
			</Column>
			<Column ColumnSize="ColumnSize.Is8">
				<h3>Chat</h3>
				<div class="blankDivider"></div>
				<TextEdit Placeholder="Ex. This location was bananas!"></TextEdit>
				<div class="bigDivider"></div>
				<div class="medDivider"></div>
				<div style="padding-left:200px;">
					@if (Posts.Count > 0)
					{
						@foreach (String postVal in Posts)
						{
							<Row>
								<Column ColumnSize="ColumnSize.Is2">
									<a href="/profile/2">
										<img src="assets/SampleProfile1.png" />
									</a>
								</Column>
								<Column ColumnSize="ColumnSize.Is10">
									<a style="text-decoration: none; color: white;" href="/profile/2">
										<h2>@at()happigeon</h2>
									</a>
									<div class="blankDivider"></div>
									<h5>Los Angeles, CA, USA</h5>
									<div class="blankDivider"></div>
									<p>
										Mr. Queen has long been one of my favorite K-Dramas. When I had the
										opportunity to travel to South Korea, I decided to visit some iconic
										landmarks that I once dreamed of. The ease and access of finding these
										locations through Movie Monkey allowed for less stress. Woohoo! Great trip ~~
									</p>
								</Column>
							</Row>
						}
					}
					<Row>
						<Column ColumnSize="ColumnSize.Is2">
							<a href="/profile/2">
								<img src="assets/SampleProfile1.png" />
							</a>
						</Column>
						<Column ColumnSize="ColumnSize.Is10">
							<a style ="text-decoration: none; color: white;" href="/profile/2">
								<h2>@at()happigeon</h2>
							</a>
							<div class="blankDivider"></div>
							<h5>Los Angeles, CA, USA</h5>
							<div class="blankDivider"></div>
							<p>
								Mr. Queen has long been one of my favorite K-Dramas. When I had the 
								opportunity to travel to South Korea, I decided to visit some iconic 
								landmarks that I once dreamed of. The ease and access of finding these 
								locations through Movie Monkey allowed for less stress. Woohoo! Great trip ~~
							</p>
						</Column>
					</Row>
					<div class="medDivider"></div>
					<Row>
						<Column ColumnSize="ColumnSize.Is2">
							<img src="assets/SampleProfile2.png" />
						</Column>
						<Column ColumnSize="ColumnSize.Is10">
							<h2>@at()JennyFromDa808</h2>
							<div class="blankDivider"></div>
							<h5>Seattle, WA, USA</h5>
							<div class="blankDivider"></div>
							<p>
								Byeongsan Seowon was definitely the highlight of my Korea trip. 
								Glad to see it on Movie Monkey.
							</p>
						</Column>
					</Row>
					<div class="medDivider"></div>
					<Row>
						<Column ColumnSize="ColumnSize.Is2">
							<img src="assets/SampleProfile3.png" />
						</Column>
						<Column ColumnSize="ColumnSize.Is10">
							<h2>@at()StannisTheMannis32</h2>
							<div class="blankDivider"></div>
							<h5>Hong Kong, Hong Kong</h5>
							<div class="blankDivider"></div>
							<p>
								Being able to visit locations you once saw on screen is a privilege 
								like no other, and I’m glad Movie Monkey opened these doors. Hoping 
								to add more locations through a community addition one day?
							</p>
						</Column>
					</Row>
				</div>

			</Column>
		</Row>
	</div>
</body>

@code {
	private int seeValue = 86;
	bool seen = false;
	private int didValue = 14;
	bool did = false;

	List<String> Posts = new();

	private void addPost(String post)
	{
		Posts.Add(post);
	}

	private void seenIt()
	{
		seen = !seen;
		if (seen) seeValue = 87;
		else seeValue = 86;
	}

	private void didIt()
	{
		did = !did;
		if (did) didValue = 20;
		else didValue = 14;
	}

	string at()
	{
		return "@";
	}
}
