@page "/your_name";

<div class="containerHold">
	<img style="width: 100%; height: 95%;" src="assets/yourname/hero.png">
	<div class="heroText">
		<h1>Your Name</h1>
		<br />
		<div>
			<p>
				From director Makoto Shinkai, the innovative mind behind Voices of a Distant Star and 5 Centimeters Per Second, comes a beautiful masterpiece about time, the thread of fate, and the hearts of two young souls. Two teenagers, Taki Tachibana and Mitsuha Miyamizu begin to speak. They speak of time and of dreams, and how each can be a great loss.
			</p>
		</div>
	</div>
</div>

<body>
	<div class="layout">
		<button style="display: inline-block">
			<div class="figure">
				<img src="assets/AddToCollection.png" />
				<img class="hover" src="assets/AddToCollection_Hover.png" />
			</div>
		</button>
		<button style="display: inline-block">
			<Link To="#chat">
			<div class="figure">
				<img src="assets/MonkeChat.png" />
				<img class="hover" src="assets/MonkeChat_Hover.png" />
			</div>
			</Link>
		</button>
		<div class="medDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.Is8">
				<Row>
					<Column ColumnSize="ColumnSize.IsQuarter">
						<h4>GENRE</h4>
						<p>Romantic, Drama</p>
					</Column>
					<Column ColumnSize="ColumnSize.IsQuarter">
						<h4>LANGUAGE</h4>
						<p>Japanese</p>
					</Column>
					<Column ColumnSize="ColumnSize.IsQuarter">
						<h4>LOCATION</h4>
						<p>Japan</p>
					</Column>
					<Column ColumnSize="ColumnSize.IsQuarter">
						<h4>PLATFORM</h4>
						<p>Crunchyroll</p>
					</Column>
				</Row>
			</Column>
		</Row>
		<div class="bigDivider"></div>
		<!--Begin Highlights-->
		<h2>Highlights</h2>
		<div class="bigYellowDivider"></div>
		<div class="blankDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.IsQuarter">
				<Link To="#1">
				<img src="assets/yourname/Highlight1.png" />
				</Link>
			</Column>
			<Column ColumnSize="ColumnSize.IsQuarter">
				<Link To="#2">
				<img src="assets/yourname/Highlight2.png" />
				</Link>
			</Column>
			<Column ColumnSize="ColumnSize.IsQuarter">
				<Link To="#3">
				<img src="assets/yourname/Highlight3.png" />
				</Link>
			</Column>
			<Column ColumnSize="ColumnSize.IsQuarter">
				<Link To="#4">
				<img src="assets/yourname/Highlight4.png" />
				</Link>
			</Column>
		</Row>
		<div id="1" class="medDivider"></div>
		<!--Start enlarged-->
		<h3>Suga Shrine Stairs</h3>
		<div class="yellowDivider"></div>
		<div class="medDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.Is5">
				<img src="assets/yourname/Highlight1_Enlarged.png" />
			</Column>
			<Column ColumnSize="ColumnSize.Is7">
				<Row>
					<Column ColumnSize="ColumnSize.Is1">
						<img style="padding-left: 23px;" src="assets/Location.png" />
					</Column>
					<Column ColumnSize="ColumnSize.Is11">
						<h2>Suga Shrine Stairs<img style="float: right" src="assets/Link.png"></h2>
						<h2>須賀神社</h2>
						<div class="blankDivider"></div>
						<p>
							Your Name’s promotional image, taken on stairs leading to Suga Shrine, has amassed many tourists from Japan and around the world.
							<br /><br>
							The stairs of Suga Shrine are the absolute culmination of the film. The scene is definitely the most impressive and iconic in all of Your Name.
						</p>
					</Column>
				</Row>
			</Column>
		</Row>

		<div id="2" class="medDivider"></div>
		<h3>Salon De Thé Rong</h3>
		<div class="yellowDivider"></div>
		<div class="medDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.Is5">
				<img src="assets/yourname/Highlight2_Enlarged.png" />
			</Column>
			<Column ColumnSize="ColumnSize.Is7">
				<Row>
					<Column ColumnSize="ColumnSize.Is1">
						<img style="padding-left: 23px;" src="assets/Location.png" />
					</Column>
					<Column ColumnSize="ColumnSize.Is11">
						<h2>Salon De Thé Rong<img style="float: right" src="assets/Link.png"></h2>
						<h2>サロン・ド・テ ロンド</h2>
						<div class="blankDivider"></div>
						<p>
							Located on the second floor of the National Art Center in Roppongi, Salon De Thé Rong was the cafe where Taki went on a date with his crush at the time, Okudera-senpai.
						</p>
					</Column>
				</Row>
			</Column>
		</Row>

		<div id="3" class="medDivider"></div>
		<h3>Yunika Vision</h3>
		<div class="yellowDivider"></div>
		<div class="medDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.Is5">
				<img src="assets/yourname/Highlight3_Enlarged.png" />
			</Column>
			<Column ColumnSize="ColumnSize.Is7">
				<Row>
					<Column ColumnSize="ColumnSize.Is1">
						<img style="padding-left: 23px;" src="assets/Location.png" />
					</Column>
					<Column ColumnSize="ColumnSize.Is11">
						<h2>Yunika Vision<img style="float: right" src="assets/Link.png"></h2>
						<h2>ユニカビジョン</h2>
						<div class="blankDivider"></div>
						<p>
							Exiting the East wing of Shinjuku Station, Yunika Vision boasts a giant piece of digital signage that broadcasts news footage and advertisements.
							<br /><br />
							In the film, commuters watched the screen for coverage of the fall of the Tiamat comet.
						</p>
					</Column>
				</Row>
			</Column>
		</Row>

		<div id="4" class="medDivider"></div>
		<h3>Suga Shrine</h3>
		<div class="yellowDivider"></div>
		<div class="medDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.Is5">
				<img src="assets/yourname/Highlight4_Enlarged.png" />
			</Column>
			<Column ColumnSize="ColumnSize.Is7">
				<Row>
					<Column ColumnSize="ColumnSize.Is1">
						<img style="padding-left: 23px;" src="assets/Location.png" />
					</Column>
					<Column ColumnSize="ColumnSize.Is11">
						<h2>Suga Shrine<img style="float: right" src="assets/Link.png"></h2>
						<h2>須賀神社</h2>
						<div class="blankDivider"></div>
						<p>
							Suga Shrine (須賀神社, Suga jinja) is a Shinto shrine located in Shinjuku, Tokyo. The stairway leading to it appears in Your Name.
						</p>
					</Column>
				</Row>
			</Column>
		</Row>


		<div id="chat" class="bigDivider"></div>
		<!--Start chat-->
		<h2>Monkey Business</h2>
		<div class="bigYellowDivider"></div>
		<div class="medDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.Is3">
				<div class="visits" style="padding-left: 30px;">
					<h3>Visits</h3>
					<div class="blankDivider"></div>
					<button onclick="@seenIt">
						@if (seen)
						{
							<img src="assets/MonkeSee_Hover.png">
						}
						else
						{
							<div class="figure">
								<img src="assets/MonkeSee.png" />
								<img class="hover" src="assets/MonkeSee_Hover.png" />
							</div>
						}
					</button>
					<div class="blankDivider"></div>
					<button onclick="@didIt">
						@if (did)
						{
							<img src="assets/MonkeDid_Hover.png">
						}
						else
						{
							<div class="figure">
								<img src="assets/MonkeDid.png" />
								<img class="hover" src="assets/MonkeDid_Hover.png" />
							</div>
						}
					</button>

					<div class="medDivider"></div>
					<h3><img src="assets/Eye.png" /><b>	@seeValue%	</b>Monke See</h3>
					<h3><img src="assets/Eye_Off.png" /><b>	@didValue%	</b>Monke Did</h3>
					<div class="medDivider"></div>
					<p style="font-size: 14px; text-decoration: underline">Report</p>
					<p style="font-size: 14px; text-decoration: underline">Help</p>
				</div>
			</Column>
			<Column ColumnSize="ColumnSize.Is8">
				<h3>Chat</h3>
				<div class="blankDivider"></div>
				<TextEdit Placeholder="Ex. This location was bananas!"></TextEdit>
				<div class="bigDivider"></div>
				<div class="medDivider"></div>
				<div style="padding-left:200px;">
					<Row>
						<Column ColumnSize="ColumnSize.Is2">
							<img src="assets/SampleProfile1.png" />
						</Column>
						<Column ColumnSize="ColumnSize.Is10">
							<h2>@at()shinkaichiban</h2>
							<div class="blankDivider"></div>
							<h5>Osaka, Japan</h5>
							<div class="blankDivider"></div>
							<p>
								気をつけて！とても混雑していますが、美しいです。なぜこれらの階段がそんなに人気があるのか​​と年配の男性が尋ねました。アニメだと説明したら笑われた。これが役立つことを願っています。
							</p>
						</Column>
					</Row>
					<div class="medDivider"></div>
					<Row>
						<Column ColumnSize="ColumnSize.Is2">
							<img src="assets/SampleProfile2.png" />
						</Column>
						<Column ColumnSize="ColumnSize.Is10">
							<h2>@at()knguyen21</h2>
							<div class="blankDivider"></div>
							<h5>Hoi An, Vietnam</h5>
							<div class="blankDivider"></div>
							<p>
								Theo tôi, 'Your Name' là tác phẩm hay nhất của Makoto Shinkai, và tôi muốn tận mắt chứng kiến ​​nguồn cảm hứng đằng sau các bộ phim của anh ấy.
							</p>
						</Column>
					</Row>
					<div class="medDivider"></div>
					<Row>
						<Column ColumnSize="ColumnSize.Is2">
							<img src="assets/SampleProfile3.png" />
						</Column>
						<Column ColumnSize="ColumnSize.Is10">
							<h2>@at()dougdimmadome</h2>
							<div class="blankDivider"></div>
							<h5>Chicago, IL, USA</h5>
							<div class="blankDivider"></div>
							<p>
								I went with my cousin to view Suga Shrine firsthand and I am so happy I did. I appreciate using Movie Monke as sort-of like an itenerary when traveling through Japan. I’m able to live vicariously through my favorite shows.
							</p>
						</Column>
					</Row>
				</div>

			</Column>
		</Row>
	</div>
</body>

@code {
	private int seeValue = 63;
	bool seen = false;
	private int didValue = 37;
	bool did = false;

	private void seenIt()
	{
		seen = !seen;
		if (seen) seeValue = 65;
		else seeValue = 63;
	}

	private void didIt()
	{
		did = !did;
		if (did) didValue = 40;
		else didValue = 37;
	}

	string at()
	{
		return "@";
	}
}
